In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import sqlite3 as sq

In [2]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

### Loading data

#### Reading SQLite database - you will need to amend your path

In [3]:
# creating file path
dbfile = "/Users/blagabaycheva/Documents/Projects/code/STA-it402-drresscode/sta-it402-dresscode-main/code/data/sqa-data-db.sqlite"

#"/Users/blagabaycheva/Documents/Projects/code/STA-it402-drresscode/sta-it402-dresscode-main/code/data/sqa-data-db.sqlite")
# Create a SQL connection to our SQLite database
conn = sq.connect(dbfile)

In [4]:
# creating cursor
cur = conn.cursor()

# reading all table names
table_list = [a for a in cur.execute("SELECT name FROM sqlite_master WHERE type = 'table'")]
# here is your table list
print(table_list)

[('school_rolls',), ('sqa_qualification_list',), ('sqa_data',)]

In [5]:
df1 = pd.read_sql_query('SELECT * FROM school_rolls', conn)
df1.head()

,year,secondary_schools,secondary_pupils,base_year_census,index_factor,predicted
0,1966.0,NaN,283592.0,316594.0,0.895759,0
1,1967.0,665.0,288054.0,316594.0,0.909853,0
2,1968.0,640.0,295625.0,316594.0,0.933767,0
3,1969.0,616.0,307185.0,316594.0,0.970281,0
4,1970.0,441.0,317027.0,316594.0,1.001368,0

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   year               56 non-null     float64
 1   secondary_schools  54 non-null     float64
 2   secondary_pupils   56 non-null     float64
 3   base_year_census   56 non-null     float64
 4   index_factor       56 non-null     float64
 5   predicted          56 non-null     int64
dtypes: float64(5), int64(1)
memory usage: 2.8 KB

In [7]:
df2 = pd.read_sql_query('SELECT * FROM sqa_qualification_list', conn)
df2.head()

,QualificationId,QualificationTitle,SCQFLevel,SecondaryYear,AdditionalYears,DataStartYear,DataEndYear
0,Higher,Higher,6,5.0,6,1986,None
1,AdvancedHigher,Advanced Higher,7,6.0,None,2001,None
2,OrdinaryGrade,Ordinary Grade,5,4.0,5;6,1986,1994
3,NewHigher,New Higher,6,5.0,6,2000;2015,2002;2015
4,StandardGrade,Standard Grade,5,4.0,5;6,1986,2013

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   QualificationId     19 non-null     object
 1   QualificationTitle  19 non-null     object
 2   SCQFLevel           17 non-null     object
 3   SecondaryYear       12 non-null     float64
 4   AdditionalYears     6 non-null      object
 5   DataStartYear       14 non-null     object
 6   DataEndYear         6 non-null      object
dtypes: float64(1), object(6)
memory usage: 1.2+ KB

In [9]:
df3 = pd.read_sql_query('SELECT * FROM sqa_data', conn)
df3.head()

,qualification,year,Subject,NumberOfCentres,gender,grade,NoOfStudents
0,CSYS,1986,Art and Design (Enquiry),127.0,male,Entries,86.0
1,CSYS,1986,Art and Design (Enquiry),127.0,male,percentage,0.0
2,CSYS,1986,Art and Design (Enquiry),127.0,male,A,7.0
3,CSYS,1986,Art and Design (Enquiry),127.0,male,B,13.0
4,CSYS,1986,Art and Design (Enquiry),127.0,male,C,25.0

In [10]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159668 entries, 0 to 159667
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   qualification    159668 non-null  object
 1   year             159668 non-null  object
 2   Subject          159668 non-null  object
 3   NumberOfCentres  118152 non-null  float64
 4   gender           159668 non-null  object
 5   grade            159668 non-null  object
 6   NoOfStudents     133842 non-null  float64
dtypes: float64(2), object(5)
memory usage: 8.5+ MB

In [11]:
df4 = pd.read_csv("subject_groups.csv")
df4.head()

,Subject,SubjectGroup,CommonSubjectLabel,qualification,year,SubjectTaken,SCQFLevel
0,English,English,English,National3,2014,Yes,3
1,English,English,English,National3,2015,Yes,3
2,English,English,English,National3,2016,Yes,3
3,English,English,English,National3,2017,Yes,3
4,English,English,English,National3,2018,Yes,3

In [12]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6176 entries, 0 to 6175
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Subject             6176 non-null   object
 1   SubjectGroup        6176 non-null   object
 2   CommonSubjectLabel  2582 non-null   object
 3   qualification       6176 non-null   object
 4   year                6176 non-null   int64
 5   SubjectTaken        6176 non-null   object
 6   SCQFLevel           6176 non-null   int64
dtypes: int64(2), object(5)
memory usage: 337.9+ KB

#### Finished reading SQLite database

##### How many different grades are there?

In [13]:
df3['grade'].unique()

array(['Entries', 'percentage', 'A', 'B', 'C', 'D', 'E', 'Passes', '1',
       '2', '3', '4', '5', '6', '7', 'Comp', 'COMP',
       'PassesesInUngradedCourses', 'PassesUngraded',
       'PassesUngradedCourses', 'A-C', 'Pass', 'Attainment', 'SCQF3',
       'SCQF4', 'SCQF5', 'SCQF6', 'SCQF2', 'level2', 'level3', 'level4',
       'level5', 'level6', 'NoAward', 'A-B', 'A-D*', 'A-D'], dtype=object)

In [14]:
df3['grade'].nunique()

37

In [15]:
df3.count()

qualification      159668
year               159668
Subject            159668
NumberOfCentres    118152
gender             159668
grade              159668
NoOfStudents       133842
dtype: int64

In [16]:
df3['year'].value_counts()

2021    6681
2001    6239
2010    6073
2008    5970
2011    5959
2012    5893
2013    5886
2009    5861
2006    5788
2007    5714
2005    5552
2015    5454
2004    5402
2002    5277
2019    5255
2003    5243
2000    5188
2020    5118
2014    5014
1992    4224
1993    3840
1991    3792
2016    3592
2017    3589
2018    3556
1990    3524
1994    3280
1995    3018
1989    2904
1988    2728
1987    2446
1986    2428
1996    2400
1999    2292
1998    2268
1997    2220
Name: year, dtype: int64

In [17]:
df3['grade'].value_counts()

Entries                      26826
A                            17332
B                            14300
C                            14300
Passes                       12059
D                            11729
percentage                    7778
3                             4168
1                             4113
2                             4113
4                             4113
5                             4113
6                             2883
7                             2883
SCQF6                         2730
SCQF5                         2730
SCQF4                         2730
SCQF3                         2730
A-C                           2288
Attainment                    1746
SCQF2                         1668
PassesUngraded                1668
E                             1416
Pass                          1341
COMP                          1332
PassesesInUngradedCourses     1266
PassesUngradedCourses         1206
NoAward                        951
A-B                            774
Comp                           768
A-D                            564
A-D*                           210
level2                         168
level3                         168
level4                         168
level5                         168
level6                         168
Name: grade, dtype: int64

In [18]:
#df3_test['grade'].unique()

In [19]:
df3['combined']= df3['gender'] + '_' + df3['grade']

In [20]:
df3.tail(5)

,qualification,year,Subject,NumberOfCentres,gender,grade,NoOfStudents,combined
159663,NationalProgressionAward,2021,Zoo Animal Behaviour and Welfare,NaN,male,SCQF5,NaN,male_SCQF5
159664,NationalProgressionAward,2021,Zoo Animal Behaviour and Welfare,NaN,female,SCQF5,NaN,female_SCQF5
159665,NationalProgressionAward,2021,Zoo Animal Behaviour and Welfare,NaN,all,SCQF6,10.0,all_SCQF6
159666,NationalProgressionAward,2021,Zoo Animal Behaviour and Welfare,NaN,male,SCQF6,2.0,male_SCQF6
159667,NationalProgressionAward,2021,Zoo Animal Behaviour and Welfare,NaN,female,SCQF6,8.0,female_SCQF6

In [21]:
# unpacking all versions of grades

In [22]:
df_unpack = df3.groupby(['Subject', 'qualification', 'year', 'combined'])['NoOfStudents'].aggregate('mean').unstack()

In [23]:
df_unpack.reset_index()

combined,Subject,qualification,year,NotApplicable_A,NotApplicable_A-C,NotApplicable_Attainment,NotApplicable_Entries,NotApplicable_Pass,NotKnown_A,NotKnown_A-C,NotKnown_Attainment,NotKnown_Entries,NotKnown_NoAward,NotKnown_Pass,_3,all_1,all_2,all_3,all_4,all_5,all_6,all_7,all_A,all_A-B,all_A-C,all_A-D,all_A-D*,all_Attainment,all_B,all_C,all_COMP,all_Comp,all_D,all_E,all_Entries,all_NoAward,all_Pass,all_Passes,all_PassesUngraded,all_PassesUngradedCourses,all_PassesesInUngradedCourses,all_SCQF2,all_SCQF3,all_SCQF4,all_SCQF5,all_SCQF6,all_level2,all_level3,all_level4,all_level5,all_level6,female_1,female_2,female_3,female_4,female_5,female_6,female_7,female_A,female_A-B,female_A-C,female_A-D,female_A-D*,female_Attainment,female_B,female_C,female_COMP,female_Comp,female_D,female_E,female_Entries,female_NoAward,female_Pass,female_Passes,female_PassesUngraded,female_PassesUngradedCourses,female_PassesesInUngradedCourses,female_SCQF2,female_SCQF3,female_SCQF4,female_SCQF5,female_SCQF6,female_level2,female_level3,female_level4,female_level5,female_level6,female_percentage,male_1,male_2,male_3,male_4,male_5,male_6,male_7,male_A,male_A-B,male_A-C,male_A-D,male_A-D*,male_Attainment,male_B,male_C,male_COMP,male_Comp,male_D,male_E,male_Entries,male_NoAward,male_Pass,male_Passes,male_PassesUngraded,male_PassesUngradedCourses,male_PassesesInUngradedCourses,male_SCQF2,male_SCQF3,male_SCQF4,male_SCQF5,male_SCQF6,male_level2,male_level3,male_level4,male_level5,male_level6,male_percentage,notapplicable_Entries,notapplicable_SCQF2,notapplicable_SCQF3,notapplicable_SCQF4,notapplicable_SCQF5,notapplicable_SCQF6,notknown_Entries,notknown_SCQF2,notknown_SCQF3,notknown_SCQF4,notknown_SCQF5,notknown_SCQF6
0,Accountancy,NationalProgressionAward,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,173.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,173.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
1,Accountancy,NationalProgressionAward,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Accounting,AdvancedHigher,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,7.0,17.0,NaN,NaN,5.0,NaN,77.0,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,4.0,4.0,NaN,NaN,0.0,NaN,26.0,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,3.0,13.0,NaN,NaN,5.0,NaN,51.0,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Accounting,AdvancedHigher,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,17.0,22.0,NaN,NaN,5.0,NaN,74.0,NaN,NaN,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,8.0,9.0,NaN,NaN,3.0,NaN,30.0,NaN,NaN,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,9.0,13.0,NaN,NaN,2.0,NaN,44.0,NaN,NaN,33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Accounting,AdvancedHigher,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,NaN,NaN,NaN,NaN,NaN,7.0,17.0,NaN,NaN,4.0,NaN,78.0,NaN,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,7.0,10.0,NaN,NaN,2.0,NaN,43.0,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,0.0,7.0,NaN,NaN,2.0,NaN,35.0,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8747,Woodworking Skills,Intermediate2,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2087.0,NaN,NaN,NaN,NaN,NaN,1518.0,904.0,NaN,NaN,8.0,NaN,4590.0,NaN,NaN,4509.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,273.0,NaN,NaN,NaN,NaN,NaN,191.0,99.0,NaN,NaN,2.0,NaN,579.0,NaN,NaN,563.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1814.0,NaN,NaN,NaN,NaN,NaN,1327.0,805.0,NaN,NaN,6.0,NaN,4011.0,NaN,NaN,3946.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8748,Woodworking Skills,Intermediate2,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1348.0,NaN,NaN,NaN,NaN,NaN,889.0,516.0,NaN,NaN,0.0,NaN,2868.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175.0,NaN,330.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,344.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1186.0,NaN,2448.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2524.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8749,Woodworking Skills,Intermediate2,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,226.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,133.0,NaN,NaN,NaN,NaN,NaN,56.0,27.0,NaN,NaN,2.0,NaN,226.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,NaN,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107.0,NaN,178.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,185.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8750,Working with Communities,NationalCertificate,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8751,Zoo Animal Behaviour and Welfare,NationalProgressionAward,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# df_new = df_unpack.filter(['Subject', 'qualification', 'year', 'all_Entries', 'all_A', 'female_A', 'male_A'], axis=1)

In [25]:
# getting only the columns with letter grades, and entries to start the analysis
# can filter other type pf grades from here

In [48]:
df_new = df_unpack.filter(['Subject',
                           'qualification', 'year', 'all_Entries',
                           'female_Entries', 'male_Entries',
                           'all_A', 'female_A', 'male_A',
                           'all_B', 'female_B', 'male_B',
                           'all_C', 'female_C', 'male_C',
                           'all_A-C', 'female_A-C', 'male_A-C'], axis=1)

In [49]:
df_new.head(5)

combined                                   all_Entries  female_Entries  \
Subject     qualification            year
Accountancy NationalProgressionAward 2020        173.0            72.0
                                     2021         57.0            26.0
Accounting  AdvancedHigher           2007         77.0            26.0
                                     2008         74.0            30.0
                                     2009         78.0            43.0

combined                                   male_Entries  all_A  female_A  \
Subject     qualification            year
Accountancy NationalProgressionAward 2020         101.0    NaN       NaN
                                     2021          31.0    NaN       NaN
Accounting  AdvancedHigher           2007          51.0   12.0       3.0
                                     2008          44.0   17.0       6.0
                                     2009          35.0   30.0      12.0

combined                                   male_A  all_B  female_B  male_B  \
Subject     qualification            year
Accountancy NationalProgressionAward 2020     NaN    NaN       NaN     NaN
                                     2021     NaN    NaN       NaN     NaN
Accounting  AdvancedHigher           2007     9.0    7.0       4.0     3.0
                                     2008    11.0   17.0       8.0     9.0
                                     2009    18.0    7.0       7.0     0.0

combined                                   all_C  female_C  male_C  all_A-C  \
Subject     qualification            year
Accountancy NationalProgressionAward 2020    NaN       NaN     NaN      NaN
                                     2021    NaN       NaN     NaN      NaN
Accounting  AdvancedHigher           2007   17.0       4.0    13.0      NaN
                                     2008   22.0       9.0    13.0      NaN
                                     2009   17.0      10.0     7.0      NaN

combined                                   female_A-C  male_A-C
Subject     qualification            year
Accountancy NationalProgressionAward 2020         NaN       NaN
                                     2021         NaN       NaN
Accounting  AdvancedHigher           2007         NaN       NaN
                                     2008         NaN       NaN
                                     2009         NaN       NaN

In [50]:
df_new = df_new.reset_index()

In [51]:
df_new.head(55)

combined,Subject,qualification,year,all_Entries,female_Entries,male_Entries,all_A,female_A,male_A,all_B,female_B,male_B,all_C,female_C,male_C,all_A-C,female_A-C,male_A-C
0,Accountancy,NationalProgressionAward,2020,173.0,72.0,101.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Accountancy,NationalProgressionAward,2021,57.0,26.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Accounting,AdvancedHigher,2007,77.0,26.0,51.0,12.0,3.0,9.0,7.0,4.0,3.0,17.0,4.0,13.0,NaN,NaN,NaN
3,Accounting,AdvancedHigher,2008,74.0,30.0,44.0,17.0,6.0,11.0,17.0,8.0,9.0,22.0,9.0,13.0,NaN,NaN,NaN
4,Accounting,AdvancedHigher,2009,78.0,43.0,35.0,30.0,12.0,18.0,7.0,7.0,0.0,17.0,10.0,7.0,NaN,NaN,NaN
5,Accounting,AdvancedHigher,2010,50.0,20.0,30.0,7.0,4.0,3.0,11.0,4.0,7.0,11.0,3.0,8.0,NaN,NaN,NaN
6,Accounting,AdvancedHigher,2011,39.0,21.0,18.0,14.0,6.0,8.0,9.0,5.0,4.0,6.0,3.0,3.0,NaN,NaN,NaN
7,Accounting,AdvancedHigher,2012,41.0,13.0,28.0,14.0,7.0,7.0,9.0,1.0,8.0,7.0,2.0,5.0,NaN,NaN,NaN
8,Accounting,AdvancedHigher,2013,45.0,21.0,24.0,11.0,7.0,4.0,12.0,4.0,8.0,4.0,3.0,1.0,NaN,NaN,NaN
9,Accounting,AdvancedHigher,2014,37.0,17.0,20.0,8.0,5.0,3.0,6.0,NaN,NaN,5.0,NaN,NaN,NaN,11.0,8.0
10,Accounting,AdvancedHigher,2015,44.0,18.0,26.0,6.0,1.0,5.0,11.0,NaN,NaN,10.0,NaN,NaN,NaN,10.0,17.0
11,Accounting,AdvancedHigher,2016,39.0,13.0,26.0,15.0,6.0,9.0,11.0,NaN,NaN,6.0,NaN,NaN,NaN,12.0,20.0
12,Accounting,AdvancedHigher,2017,53.0,23.0,30.0,15.0,4.0,11.0,11.0,NaN,NaN,14.0,NaN,NaN,NaN,15.0,25.0
13,Accounting,AdvancedHigher,2018,57.0,30.0,27.0,31.0,14.0,17.0,15.0,NaN,NaN,8.0,NaN,NaN,NaN,28.0,26.0
14,Accounting,AdvancedHigher,2019,64.0,27.0,37.0,25.0,12.0,13.0,16.0,NaN,NaN,16.0,NaN,NaN,NaN,24.0,33.0
15,Accounting,AdvancedHigher,2020,62.0,14.0,48.0,36.0,10.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN,58.0,13.0,47.0
16,Accounting,AdvancedHigher,2021,76.0,39.0,37.0,46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,NaN,NaN
17,Accounting,Higher,1986,3369.0,1892.0,1477.0,303.0,159.0,144.0,777.0,452.0,325.0,1135.0,641.0,494.0,NaN,NaN,NaN
18,Accounting,Higher,1987,3820.0,2191.0,1629.0,294.0,159.0,135.0,879.0,473.0,406.0,1241.0,684.0,557.0,NaN,NaN,NaN
19,Accounting,Higher,1988,4223.0,2372.0,1851.0,353.0,182.0,171.0,879.0,488.0,391.0,1435.0,829.0,606.0,NaN,NaN,NaN
20,Accounting,Higher,1989,4503.0,2509.0,1994.0,372.0,188.0,184.0,916.0,469.0,447.0,1594.0,903.0,691.0,NaN,NaN,NaN
21,Accounting,Higher,1990,4293.0,2268.0,2025.0,386.0,196.0,190.0,1046.0,560.0,486.0,1341.0,725.0,616.0,NaN,NaN,NaN
22,Accounting,Higher,1991,4066.0,2198.0,1868.0,409.0,211.0,198.0,1019.0,544.0,475.0,1352.0,721.0,631.0,NaN,NaN,NaN
23,Accounting,Higher,1992,3890.0,2120.0,1770.0,380.0,190.0,190.0,923.0,497.0,426.0,1399.0,770.0,629.0,NaN,NaN,NaN
24,Accounting,Higher,1993,2798.0,1536.0,1262.0,292.0,170.0,122.0,703.0,393.0,310.0,870.0,446.0,424.0,NaN,NaN,NaN
25,Accounting,Higher,1994,1050.0,613.0,437.0,109.0,61.0,48.0,267.0,152.0,115.0,365.0,216.0,149.0,NaN,NaN,NaN
26,Accounting,Higher,1995,316.0,208.0,108.0,44.0,21.0,23.0,58.0,37.0,21.0,98.0,66.0,32.0,NaN,NaN,NaN
27,Accounting,Higher,1996,2.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Accounting,Higher,2005,1885.0,932.0,953.0,539.0,244.0,295.0,352.0,195.0,157.0,372.0,191.0,181.0,NaN,NaN,NaN
29,Accounting,Higher,2006,1630.0,806.0,824.0,490.0,251.0,239.0,345.0,163.0,182.0,324.0,154.0,170.0,NaN,NaN,NaN
30,Accounting,Higher,2007,1459.0,734.0,725.0,455.0,232.0,223.0,252.0,120.0,132.0,306.0,153.0,153.0,NaN,NaN,NaN
31,Accounting,Higher,2008,1465.0,708.0,757.0,411.0,188.0,223.0,323.0,157.0,166.0,283.0,129.0,154.0,NaN,NaN,NaN
32,Accounting,Higher,2009,1345.0,642.0,703.0,428.0,188.0,240.0,305.0,151.0,154.0,294.0,149.0,145.0,NaN,NaN,NaN
33,Accounting,Higher,2010,1220.0,624.0,596.0,363.0,180.0,183.0,226.0,135.0,91.0,238.0,116.0,122.0,NaN,NaN,NaN
34,Accounting,Higher,2011,1204.0,606.0,598.0,485.0,249.0,236.0,226.0,112.0,114.0,207.0,106.0,101.0,NaN,NaN,NaN
35,Accounting,Higher,2012,1155.0,588.0,567.0,451.0,233.0,218.0,250.0,130.0,120.0,223.0,121.0,102.0,NaN,NaN,NaN
36,Accounting,Higher,2013,1072.0,537.0,535.0,387.0,178.0,209.0,213.0,115.0,98.0,185.0,87.0,98.0,NaN,NaN,NaN
37,Accounting,Higher,2014,1277.0,638.0,638.0,434.0,211.0,217.0,255.0,NaN,NaN,217.0,NaN,NaN,NaN,447.0,447.0
38,Accounting,Higher,2015,554.0,266.0,288.0,183.0,96.0,89.0,105.0,NaN,NaN,105.0,NaN,NaN,NaN,192.0,204.0
39,Accounting,Higher,2016,1364.0,641.0,723.0,518.0,244.0,268.0,286.0,NaN,NaN,259.0,NaN,NaN,NaN,487.0,564.0
40,Accounting,Higher,2017,1319.0,594.0,725.0,501.0,220.0,276.0,317.0,NaN,NaN,224.0,NaN,NaN,NaN,469.0,573.0
41,Accounting,Higher,2018,1254.0,527.0,727.0,439.0,200.0,240.0,288.0,NaN,NaN,238.0,NaN,NaN,NaN,427.0,545.0
42,Accounting,Higher,2019,1222.0,538.0,684.0,501.0,226.0,280.0,232.0,NaN,NaN,220.0,NaN,NaN,NaN,436.0,527.0
43,Accounting,Higher,2020,1149.0,524.0,626.0,523.0,285.0,299.0,NaN,NaN,NaN,NaN,NaN,NaN,952.0,490.0,559.0
44,Accounting,Higher,2021,1336.0,608.0,728.0,787.0,404.0,383.0,NaN,NaN,NaN,NaN,NaN,NaN,1213.0,561.0,652.0
45,Accounting,Intermediate1,2005,125.0,79.0,46.0,49.0,36.0,13.0,17.0,8.0,9.0,19.0,10.0,9.0,NaN,NaN,NaN
46,Accounting,Intermediate1,2006,119.0,67.0,52.0,45.0,25.0,20.0,25.0,13.0,12.0,12.0,9.0,3.0,NaN,NaN,NaN
47,Accounting,Intermediate1,2007,84.0,46.0,38.0,31.0,15.0,16.0,16.0,8.0,8.0,15.0,11.0,4.0,NaN,NaN,NaN
48,Accounting,Intermediate1,2008,100.0,51.0,49.0,33.0,16.0,17.0,22.0,12.0,10.0,15.0,7.0,8.0,NaN,NaN,NaN
49,Accounting,Intermediate1,2009,76.0,45.0,31.0,22.0,13.0,9.0,14.0,7.0,7.0,10.0,7.0,3.0,NaN,NaN,NaN
50,Accounting,Intermediate1,2010,96.0,50.0,46.0,33.0,23.0,10.0,12.0,6.0,6.0,8.0,3.0,5.0,NaN,NaN,NaN
51,Accounting,Intermediate1,2011,99.0,44.0,55.0,37.0,16.0,21.0,17.0,11.0,6.0,11.0,5.0,6.0,NaN,NaN,NaN
52,Accounting,Intermediate1,2012,69.0,35.0,34.0,17.0,13.0,4.0,22.0,10.0,12.0,14.0,6.0,8.0,NaN,NaN,NaN
53,Accounting,Intermediate1,2013,79.0,33.0,46.0,35.0,18.0,17.0,13.0,6.0,7.0,1.0,0.0,1.0,NaN,NaN,NaN
54,Accounting,Intermediate1,2014,8.0,6.0,2.0,3.0,1.0,NaN,2.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN

In [30]:
# Combine subjects with different names

In [31]:
s_groups = pd.read_csv("subject_groups.csv")

In [32]:
s_groups['CommonSubjectLabel'].value_counts().sort_values(ascending=False)

Math            289
English         213
Biology         213
French          199
Spanish         196
Italian         195
German          194
Gaelic          190
Physics         177
Chemistry       177
DigitalMedia    164
Russian         135
Urdu             57
Chinese          53
Greek            44
Gaidhlig         25
Mandarin         18
Portuguese       18
Swedish          18
Arithmetic        7
Name: CommonSubjectLabel, dtype: int64

In [33]:
s_groups['SubjectGroup'].value_counts().sort_values(ascending=False)

ModernLanguages               1342
ExpressiveArt                  849
ModernStudies                  805
Sciences                       567
Engineering                    436
OtherComputing                 408
Computing                      384
Maths                          296
Technology                     290
HealthAndWellBeing             240
ReligiousAndMoralEducation     223
English                        213
Technological Studies           92
Biotechnology                   31
Name: SubjectGroup, dtype: int64

In [34]:
lookup_df = s_groups[['Subject', 'qualification', 'year', 'SubjectGroup', 'CommonSubjectLabel']]

In [35]:
lookup_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6176 entries, 0 to 6175
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Subject             6176 non-null   object
 1   qualification       6176 non-null   object
 2   year                6176 non-null   int64
 3   SubjectGroup        6176 non-null   object
 4   CommonSubjectLabel  2582 non-null   object
dtypes: int64(1), object(4)
memory usage: 241.4+ KB

In [36]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8752 entries, 0 to 8751
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Subject         8752 non-null   object
 1   qualification   8752 non-null   object
 2   year            8752 non-null   object
 3   all_Entries     8641 non-null   float64
 4   female_Entries  8491 non-null   float64
 5   female_A        5102 non-null   float64
 6   male_A          5099 non-null   float64
 7   all_B           5077 non-null   float64
 8   female_B        3867 non-null   float64
 9   male_B          3872 non-null   float64
 10  all_C           5058 non-null   float64
 11  female_C        3848 non-null   float64
 12  male_C          3860 non-null   float64
 13  all_A-C         256 non-null    float64
 14  female_A-C      902 non-null    float64
 15  male_A-C        888 non-null    float64
dtypes: float64(13), object(3)
memory usage: 1.1+ MB

In [37]:
df_new['year'] = df_new['year'].astype(int)

In [38]:
merged_df = df_new.merge(lookup_df, on=(['Subject', 'qualification', 'year']), how='left')

In [39]:
merged_df.head(5)

,Subject,qualification,year,all_Entries,female_Entries,female_A,male_A,all_B,female_B,male_B,all_C,female_C,male_C,all_A-C,female_A-C,male_A-C,SubjectGroup,CommonSubjectLabel
0,Accountancy,NationalProgressionAward,2020,173.0,72.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Accountancy,NationalProgressionAward,2021,57.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Accounting,AdvancedHigher,2007,77.0,26.0,3.0,9.0,7.0,4.0,3.0,17.0,4.0,13.0,NaN,NaN,NaN,NaN,NaN
3,Accounting,AdvancedHigher,2008,74.0,30.0,6.0,11.0,17.0,8.0,9.0,22.0,9.0,13.0,NaN,NaN,NaN,NaN,NaN
4,Accounting,AdvancedHigher,2009,78.0,43.0,12.0,18.0,7.0,7.0,0.0,17.0,10.0,7.0,NaN,NaN,NaN,NaN,NaN

In [40]:
merged_df = merged_df.drop_duplicates()

In [41]:
# Creating 3 dataframes fro National 5, Higher and Advance Higher Levels

In [52]:
df_N5 = merged_df[(merged_df['qualification'] == "National5")]
df_N5 = df_N5.reset_index()

In [53]:
df_Higher = merged_df[(merged_df['qualification'] == "Higher")]
df_Higher = df_Higher.reset_index()

In [54]:
df_AH = merged_df[(merged_df["qualification"]=="AdvancedHigher")]
df_AH = df_AH.reset_index()

In [55]:
df_Higher['year'].value_counts()

1994    84
1993    80
1992    78
2003    77
2004    76
2005    76
1995    75
2006    75
1991    72
2008    70
2010    68
2007    68
2013    67
2009    67
2012    66
2011    64
2014    63
2015    61
1990    58
1989    56
1988    50
2016    46
2017    46
2018    46
2019    46
2020    46
2021    46
1987    45
1986    44
1996    44
2000    37
1998    34
1999    34
1997    34
2001    26
2002     1
Name: year, dtype: int64

In [58]:
df_Higher.tail(9)

,index,Subject,qualification,year,all_Entries,female_Entries,female_A,male_A,all_B,female_B,male_B,all_C,female_C,male_C,all_A-C,female_A-C,male_A-C,SubjectGroup,CommonSubjectLabel
2017,9599,Visual Arts,Higher,2007,9.0,6.0,0.0,0.0,3.0,2.0,1.0,4.0,2.0,2.0,NaN,NaN,NaN,ExpressiveArt,NaN
2018,9600,Visual Arts,Higher,2008,15.0,13.0,0.0,0.0,1.0,1.0,0.0,6.0,5.0,1.0,NaN,NaN,NaN,ExpressiveArt,NaN
2019,9601,Visual Arts,Higher,2009,18.0,12.0,1.0,0.0,2.0,2.0,0.0,2.0,2.0,0.0,NaN,NaN,NaN,ExpressiveArt,NaN
2020,9647,Woodwork,Higher,1986,437.0,14.0,NaN,36.0,90.0,4.0,86.0,157.0,2.0,155.0,NaN,NaN,NaN,Technology,NaN
2021,9648,Woodwork,Higher,1987,252.0,8.0,NaN,8.0,35.0,1.0,34.0,81.0,4.0,77.0,NaN,NaN,NaN,Technology,NaN
2022,9649,Woodwork,Higher,1988,175.0,8.0,NaN,13.0,32.0,NaN,32.0,74.0,5.0,69.0,NaN,NaN,NaN,Technology,NaN
2023,9650,Woodwork,Higher,1989,108.0,9.0,NaN,10.0,22.0,NaN,22.0,38.0,5.0,33.0,NaN,NaN,NaN,Technology,NaN
2024,9651,Woodwork,Higher,1990,31.0,1.0,NaN,3.0,6.0,NaN,6.0,13.0,1.0,12.0,NaN,NaN,NaN,Technology,NaN
2025,9652,Woodwork,Higher,1991,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Technology,NaN